<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link type = 'text/css' rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" >
    <meta http-equiv='Content-Type' content='text/html' charset='UTF-8'/>

</head>
<body>

    <div class='refusal'>
        <p>

                    <h4>Thank you for participating. </h4>


        </p>
        <p>Since you did not consent to the agreement<br> and thus to the experiment,
           you will not get paid.</p>
        <p>
            <u>Don't foget to close the window.</u>
        </p>
    <div>

</body>

</body>
